<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>管理员首页</title>
</head>
<body>
<form>
    <table border="1">
        <tr>
            <td>
                <table border="1">
                    <tr><td>图书管理系统</td></tr>
                    <tr><td>分类</td></tr>
                    <tr><td>图书查询&借阅</td></tr>
                    <tr><td>系统管理</td></tr>
                    <tr><td><a href="#">用户管理</a></td></tr>
                    <tr><td><a href="#">角色管理</a></td></tr>
                    <tr><td><a href="#">图书管理</a></td></tr>
                    <tr><td><a href="#">资源管理</a></td></tr>
                </table>
            </td>
            <td>
                <table border="1">
                    <tr>目前用户：</tr>
                    <tr>
                        <td>书名：<input type="text" name="bookname"/></td>
                        <td>作者：<input type="text" name="author"/></td>
                        <td>出版社：<input type="text" name="publishing"/></td>
                        <td><input type="submit" name="find" value="查询"/></td>
                    </tr>
                    <tr>
                        <td colspan="4">
                        <table border="1">
                            <th>书名</th>
                            <th>作者</th>
                            <th>出版社</th>
                            <th>现有库存</th>
                            <th>处理</th>
                        </table>
                        </td>
                    </tr>
                    <tr><td colspan="4">查看所有的图书</td></tr>
                </table>
            </td>
        </tr>

    </table>



</form>
<div align="left">
    <ul>
        <li>图书管理系统</li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
</body>
</html>